In [5]:
%%capture
! pip install numpy matplotlib pandas

In [6]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [10]:
import pandas as pd

# Create a simple series
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
data = {
    'Name': ['Atul', 'Ankit', 'Govind'],
    'Age': [24, 20, 23],
    'City': ['India', 'Uttar pradesh', 'UK']
}

df = pd.DataFrame(data)
print(df)

     Name  Age           City
0    Atul   24          India
1   Ankit   20  Uttar pradesh
2  Govind   23             UK

In [13]:
# Select a single column
print(df['Name'])

# Select multiple columns
print(df[['Name', 'Age']])

0      Atul
1     Ankit
2    Govind
Name: Name, dtype: object
     Name  Age
0    Atul   24
1   Ankit   20
2  Govind   23

In [14]:
# Select first two rows
print(df.iloc[:2])

# Select rows by label index
print(df.loc[1])

    Name  Age           City
0   Atul   24          India
1  Ankit   20  Uttar pradesh
Name            Ankit
Age                20
City    Uttar pradesh
Name: 1, dtype: object

In [15]:
print(df[df['Age'] > 23])

   Name  Age   City
0  Atul   24  India

In [18]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)

# Group by Department and calculate the mean salary
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    58000.0
HR         51000.0
IT         61000.0
Name: Salary, dtype: float64

In [19]:
data = {
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago'],
    'Year': [2019, 2019, 2020, 2020],
    'Population': [8.4, 3.9, 8.3, 2.7]
}
df = pd.DataFrame(data)

# Create a pivot table with 'Year' as columns
pivot = df.pivot_table(values='Population', index='City', columns='Year')
print(pivot)

Year         2019  2020
City
Chicago       NaN   2.7
Los Angeles   3.9   NaN
New York      8.4   8.3

In [37]:
filename = "test.xlsx"
df.to_excel(filename)

In [39]:
rd= pd.read_excel("test.xlsx")
rd

   Unnamed: 0         City  Year  Population
0           0     New York  2019         8.4
1           1  Los Angeles  2019         3.9
2           2     New York  2020         8.3
3           3      Chicago  2020         2.7

In [40]:
rd["Result"] = rd ["Population"] * 2

In [41]:
rd["product"]=rd["Population"] * rd["Year"]

In [43]:
th=1000
rd["Population"]>th

0    False
1    False
2    False
3    False
Name: Population, dtype: bool

In [51]:
#read from sheet 1
df=pd.read_excel("test.xlsx",sheet_name='Sheet1')
# modify data: Add 10 to the Population column
df["Population"]=df["Population"]+10
# save the modified data to 'Sheet 2'